/* ------------------- MAIN ------------------- */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navsection {
    padding-top: 40px;
}

.name {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 30px;
    font-family: 'Kantumruy Pro', sans-serif;
}

.navlink {
    color: black;
}


/* ------------------- HOMEPAGE ------------------- */
.herocontainer {
    padding-top: 20px;
}

.demo-img {
    width: 50% !important;
    height: 50% !important;
}

#carouselExampleInterval {
    height: 900px;
    width: 900px;
}


/* ------------------- ABOUT ------------------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.portraitpic {
    padding-top: 20px;
}

.bio {
    padding-top: 30px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
}


/* ------------------- ARTWORK ------------------- */







/* ------------------- CONTACT ------------------- */
.portraitpic2 {
    height: 400px;
    width: 300px;
    border-radius: 40px;
}

.contactcontainer {
    margin: 160px;
}

.contact {
    margin: 30px;
}